@import "src/assets/variables/colors";

.contacts {
  height: 672px;
  background-color: $darkgrey;
  &__block {
    padding-top: 96px;
    height: 480px;
  }
  &__info {
    height: 100%;
    position: relative;
  }
  &__title {
    height: 72px;
    border-left: 4px solid $gold;
    box-sizing: border-box;
    padding-left: 8px;
    display: flex;
    align-items: flex-end;
    & h2 {
      color: white;
      line-height: 64px;
      height: 64px;
      font: {
        size: 56px;
        weight: bold;
      }
    }
  }
  &__content {
    margin-top: 64px;
    width: 225px;
    height: 216px;
    row-gap: 24px;
    flex-direction: column;
  }
  &__details {
    width: auto;
    height: 56px;
    flex-direction: column;
    & p:first-of-type {
      margin-right: 40px;
    }
  }
  &__socials {
    row-gap: 40px;
    & a {
      text-decoration: none;
    }
  }
  &__details-title {
    color: $grey;
    opacity: 50%;
    line-height: 24px;
    font-size: 16px;
  }
  &__link {
    text-decoration: none;
    color: white;
    line-height: 28px;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      color: $gold;
    }
  }
  app-button-contact {
    position: absolute;
    bottom: 0;
  }
  &__image {
    width: 480px;
    height: 100%;
  }
}
