<section class="contacts" id="contactsSection">
  <div class="_container_small">
    <div class="d-flex space-between contacts__block">
      <div class="contacts__info">
        <div class="contacts__title">
          <h2>{{'contactsScreenTitle' | translate}}</h2>
        </div>
        <div class="d-flex space-between contacts__content">
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenContactUs' | translate}}</p>
            <a class="contacts__link" href="tel:{{firebaseService.phoneNumber | async}}">{{firebaseService.phoneNumber| async}}</a>
          </div>
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenSendUs' | translate}}</p>
            <a class="contacts__link" href="mailto:hello7house@mail.com">hello7house@mail.com</a>
          </div>
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenFollowUs' | translate}}</p>
            <div class="d-flex contacts__socials space-between">
              <a class="contacts__link" href="https://www.facebook.com/7house.ua/">Facebook</a>
              <a class="contacts__link" href="https://www.instagram.com/7house.ua/">Instagram</a>
            </div>
          </div>
        </div>
        <app-button-contact (click)="modalEmitter.emit('form')" (onModalOpen)="onModalOpen.emit()"></app-button-contact>
      </div>
      <div class="contacts__image">
        <img src="assets/images/team.png" alt="photo of team">
      </div>
    </div>
  </div>
</section>
