<div class="contacts" id="contactsSection">
  <div class="_container_small">
    <div class="d-flex space-between contacts__block">
      <div class="contacts__info">
        <div class="contacts__title">
          <h2>{{'contactsScreenTitle' | translate}}</h2>
        </div>
        <div class="d-flex space-between contacts__content">
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenContactUs' | translate}}</p>
            <p class="contacts__link">+38 (095) 005 90 25</p>
          </div>
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenSendUs' | translate}}</p>
            <p class="contacts__link">hello7house@mail.com</p>
          </div>
          <div class="d-flex space-between contacts__details">
            <p class="contacts__details-title">{{'contactsScreenFollowUs' | translate}}</p>
            <div class="contacts__link">
              <p>Facebook</p>
              <p>Instagram</p>
            </div>
          </div>
        </div>
        <app-button-contact></app-button-contact>
      </div>
      <div class="contacts__image">
        <img src="assets/images/team.png" alt="photo of team">
      </div>
    </div>
  </div>
</div>
