<ng-container *ngIf="homeScreenBackgrounds">
  <app-home-screen [homeScreenBackgrounds]="homeScreenBackgrounds"
                   (modalEmitter)="setModal($event)"
                   (onModalOpen)="onOpenModal()"></app-home-screen>
<!--  <main>-->
<!--    <app-services-screen></app-services-screen>-->
<!--    <app-benefits-screen></app-benefits-screen>-->
<!--    <app-team-screen></app-team-screen>-->
<!--    <app-projects-screen (modalEmitter)="setModal($event)"-->
<!--                         (onModalOpen)="onOpenModal()"-->
<!--                         [projects]="projects"-->
<!--                         (currenProjectIndexEmitter)="setProjectIndex($event)"></app-projects-screen>-->
<!--    <app-contacts-screen></app-contacts-screen>-->
<!--  </main>-->
<!--  <app-footer></app-footer>-->
</ng-container>
<app-modal-contact *ngIf="isModalOpen"
                   [modal]="modal"
                   [isModalOpen]="isModalOpen"
                   (modalEmitter)="setModal($event)"
                   (onCloseEmitter)="onCloseModal()"
                   [projects]="projects"
                   [currentProjectIndex]="currentProjectIndex"
                   (currenProjectIndexEmitter)="setProjectIndex($event)"
></app-modal-contact>
