<section class="projects">
  <form [formGroup]="projectForm">
    <table border="1px">
      <tr>
        <td>Project Name</td>
        <td colspan="2">Subtitle</td>
        <td>Square</td>
        <td colspan="2">Wall Material</td>
        <td colspan="2">Additional Info</td>
        <td>Image</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor="let project of projects; let i = index">
        <ng-container *ngIf="!project.isEditing; else editMode">
          <td>{{project.title}}</td>
          <td>{{project.subtitleUA}}</td>
          <td>{{project.subtitleEN || '---'}}</td>
          <td>{{project.square}}</td>
          <td>{{project.wallMaterialUA}}</td>
          <td>{{project.wallMaterialEN || '---'}}</td>
          <td>{{project.additionalInfoUA}}</td>
          <td>{{project.additionalInfoEN || '---'}}</td>
          <td><img [src]="project.imgURL" width="100px"></td>
          <td><button (click)="editProject(i)">Edit</button></td>
          <td><button>Delete</button></td>
        </ng-container>
        <ng-template #editMode>
          <td><input formControlName="title"></td>
          <td><input formControlName="subtitleUA"></td>
          <td><input formControlName="subtitleEN"></td>
          <td><input formControlName="square"></td>
          <td><input formControlName="wallMaterialUA"></td>
          <td><input formControlName="wallMaterialEN"></td>
          <td><input formControlName="additionalInfoUA"></td>
          <td><input formControlName="additionalInfoEN"></td>
          <td><input formControlName="imgURL"></td>
          <td><button (click)="updateProjectData(i)">Save</button></td>
          <td><button>Delete</button></td>
        </ng-template>
      </tr>
    </table>
  </form>
</section>
<section class="backgrounds">

</section>
