@import "src/assets/variables/colors";
@import "src/assets/styles/mixins";

@mixin process-text {
  & p:first-child {
    color: $gold;
    opacity: 50%;
    width: 158px;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0;
    font: {
      size: 160px;
      weight: bold;
    }
    line-height: 204px;
  }
  & p:last-child {
    position: absolute;
    top: 95px;
    color: white;
    white-space: pre-line;
    font: {
      weight: bold;
      size: 56px;
    }
  }
}

.projects {
  height: 2062px;
  position: relative;
  & ._container_small {
    position: relative;
  }
  &__dark {
    height: 1823px;
    background-color: $darkgrey;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
  }
  &__title {
    padding-top: 96px;
    &-block {
      width: 100%;
      height: 72px;
      box-sizing: border-box;
      padding-left: 8px;
      border-left: 4px solid $gold;
      &-text {
        color: white;
        width: 1044px;
        height: 64px;
        padding-top: 6px;
        font: {
          size: 56px;
          weight: bold;
        }
        line-height: 64px;
      }
    }
  }
  .process {
    height: 239px;
    width: 480px;
    margin-top: 72px;
    position: relative;
  }
  .process-img {
    width: 480px;
    height: 480px;
  }
  &__first {
    margin-top: 96px;
    @include process-text;
  }
  &__second {
    @include process-text;
  }
  &__third {
    @include process-text;
    & .process {
      width: 100%;
    }
    & img {
      margin-top: 48px;
      width: 100%;
      height: 480px;
    }
  }
  &__list {
    margin-top: 96px;
    position: absolute;
    width: 100%;
    &-title {
      height: 72px;
      border-left: 4px solid $gold;
      & h2 {
        padding-left: 8px;
        padding-top: 8px;
        width: 812px;
        height: 64px;
        line-height: 64px;
        font: {
          size: 56px;
          weight: bold;
        }
      }
      &-buttons {
        @include buttons;
      }
    }
      &-items {
        margin-top: 48px;
        height: 440px;
        overflow-x: hidden;
        gap: 96px;
        scroll-behavior: smooth;
        position: absolute;
        & app-project:last-of-type {
          margin-right: 192px;
        }
      }
      &-additional {
        height: 560px;
        width: 96px;
        position: absolute;
        top: 0;
        right: -192px;
        background: linear-gradient(90deg, rgba(256, 256, 256, 0.1), white);
        opacity: 50%;
      }
  }
}

.projects-list {
  position: relative;
  width: 1056px;
  height: 728px;
}
._container {
  padding: 0;
}

@media (min-width: 900px) and (max-width: 1100px) {
  .projects-list {
    width: 756px;
  }
  .projects {
    height: 1548px;
    &__dark {
      height: 1372px;
    }
    &__title {
      &-block {
        &-text {
          width: 100%;
          font-size: 32px;
        }
      }
    }
    &__first, &__second, &__third {
      & p:first-child {
        font-size: 120px;
      }
      & p:last-child {
        font-size: 40px;
      }
    }
    &__first .process, &__second .process {
      width: 311px;
    }
    &__third img {
      height: 346px;
    }
    .process {
      margin-top: 20px;
      &-img {
        width: 311px;
        height: 311px;
      }
    }
    &__list-items {
      width: 85vw;
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .projects-list {
    max-width: 720px;
    margin: 0 auto;
  }
  .projects {
    height: 1548px;
    & ._container_small {
      max-width: inherit;
      width: 90%;
      padding: 0;
    }
    &__dark {
      height: 1372px;
    }
    &__title {
      &-block {
        &-text {
          width: 100%;
          font-size: 32px;
        }
      }
    }
    &__first, &__second, &__third {
      & p:first-child {
        font-size: 120px;
      }
      & p:last-child {
        font-size: 40px;
      }
    }
    &__first .process, &__second .process {
      width: 311px;
    }
    &__third img {
      height: 346px;
    }
    .process {
      margin-top: 20px;
      &-img {
        width: 311px;
        height: 311px;
      }
    }
    &__list-items {
      width: 100%;
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .projects-list {
    width: 90%;
    height: 572px;
  }
  .projects__list {
    margin-top: 64px;
  }
  .projects {
    height: 1846px;
    & ._container_small {
      max-width: inherit;
      width: 90%;
      padding: 0;
    }
    &__dark {
      height: 1614px;
    }
    &__title {
      height: 86px;
      padding-top: 64px;
      &-block {
        min-height: 72px;
        height: auto;
        &-text {
          width: 100%;
          font-size: 32px;
          height: inherit;
        }
      }
    }
    &__first {
      flex-direction: column;
      margin-top: 48px;
    }
    &__second {
      flex-direction: column-reverse;
    }
    &__first, &__second, &__third {
      & p:first-child {
        font-size: 80px;
        height: auto;
        line-height: inherit;
      }
      & p:last-child {
        font-size: 32px;
        top: 47px;
        width: 85%;
      }
    }
    &__first .process, &__second .process {
      width: 100%;
    }
    &__third {
      & p:last-child {
        width: 95%;
      }
      & img {
        object-fit: cover;
      }
    }
    .process {
      margin-top: 20px;
      height: 136px;
      max-height: 200px;
      &-img {
        width: 100%;
        height: 311px;
        margin-top: 20px;
        object-fit: cover;
      }
    }
    &__list {
      &-title {
        & h2 {
          font-size: 32px;
        }
        &-buttons {
          display: none;
        }
      }
      &-items {
        width: 100%;
        overflow-x: scroll;
        height: 344px;
        gap: 24px;
      }
      &-additional {
        right: 0;
        height: 464px;
        width: 70px;
      }
    }
    &__list-items app-project:last-of-type {
      margin-right: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px){
  .projects-list {
    height: 706px;
  }
  .projects__list-additional {
    display: none;
  }
}

@media (min-width: 1441px) {
  .projects__list-items {
    max-width: 1248px;
  }
  .projects__list-additional {
    right: -192px;
  }
}

@media (min-width: 1241px) and (max-width: 1440px) {
  .projects__list-items {
    width: 85vw;
  }
  .projects__list-additional {
    display: none;
  }
}

@media (min-width: 1101px) and (max-width: 1240px) {
  .projects__list-items {
    width: 100%;
  }
  .projects__list-additional {
    display: none;
  }
}
