@import "src/assets/variables/colors";

.project {
  height: 100%;
  width: 480px;
  & img {
    width: 100%;
    height: 320px;
  }
  &__content {
    margin-top: 28px;
    width: 384px;
    &-title {
      line-height: 32px;
      font: {
        size: 24px;
        weight: 600;
      }
    }
    &-subtitle {
      margin-top: 8px;
      color: $grey;
      white-space: pre-line;
    }
  }
}
