@import "src/assets/variables/colors";
@import "src/assets/styles/mixins";

@mixin closeIcon {
  content: "";
  width: 15.5px;
  height: 2px;
  background-color: $grey;
  position: absolute;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  &__image-list {
    display: none;
    width: 90%;
    height: 280px;
  }
  &__block {
    position: absolute;
    min-width: 480px;
    min-height: 272px;
    max-height: 708px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  &__content {
    width: 384px;
    height: 352px;
    margin: 64px auto;
    & h3 {
      width: 100%;
      height: 56px;
      line-height: 56px;
      font: {
        size: 40px;
        weight: bold;
      }
    }
  }
  &__button-close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    &:before {
      @include closeIcon;
      top: 11px;
      left: 4.7px;
      transform: rotate(45deg);
    }
    &:after {
      @include closeIcon;
      top: 11px;
      right: 3.7px;
      transform: rotate(315deg);
    }
  }
  &__fieldset {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    & label {
      height: 24px;
      line-height: 24px;
      font: {
        size: 16px;
        weight: 600;
      }
      &:after {
        content: " *";
        color: red;
      }
    }
    & input {
      display: block;
      margin-top: 12px;
      width: 100%;
      height: 48px;
      line-height: 24px;
      box-sizing: border-box;
      padding: 16px;
      outline: none;
      border: 1px solid rgba($lightGrey, 0.5);
      border-radius: 4px;
      font: {
        size: 16px;
        family: 'Mont', sans-serif;
      }
    }
  }
  &__button-send {
    margin-top: 24px;
    width: 100%;
    height: 56px;
    background-color: $gold;
    color: white;
    cursor: pointer;
    border: none;
    font: {
      size: 16px;
      weight: 600;
      family: 'Mont', sans-serif;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: white;
    }
    &[disabled] {
      cursor: auto;
      opacity: 0.5;
    }
  }
  &__sent {
    width: 384px;
    margin: 64px auto 0 auto;
    & h3 {
      line-height: 56px;
      height: 56px;
      font: {
        size: 40px;
        weight: bold;
      }
    }
    & p {
      margin-top: 24px;
      color: $grey;
      line-height: 32px;
      height: 64px;
      font-size: 24px;
    }
  }
  &__projects {
    width: 1248px;
    height: 708px;
    align-items: center;
  }
  &__project {
    margin: 0 auto;
    width: 1152px;
    height: 612px;
    align-items: center;
    & img {
      height: 100%;
      width: 864px;
    }
    &-content {
      width: 240px;
      height: 516px;
      flex-direction: column;
    }
  }
  &__buttons {
    @include buttons;
  }
  &__project-content-text {
    flex-direction: column;
    margin-top: 18px;
  }
  &__project-grey-text {
    color: $grey;
    line-height: 24px;
    font-size: 16px;
  }
  &__project-info-text {
    margin-top: 4px;
    color: $almostBlack;
    line-height: 28px;
    font-size: 18px;
  }
}
