@media (min-width: 900px) and (max-width: 1260px) {
  .modal {
    &__projects {
      width: 900px;
    }
    &__project {
      padding: 0 20px;
      width: 100%;
      & img {
        height: 84%;
        width: 70%;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .modal {
    &__projects {
      width: 768px;
      height: 614px;
    }
    &__project {
      padding: 0 20px;
      width: 100%;
      & img {
        height: 76%;
        width: 63%;
        object-fit: cover;
      }
      &-content {
        height: 467px;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .modal {
    &__block {
      width: 100%;
      min-width: auto;
    }
    &__content {
      & h3 {
        font-size: 30px;
        text-align: center;
      }
    }
    &__fieldset {
      width: 90%;
      margin: 0 auto;
    }
    &__button-send {
      width: 90%;
      display: block;
      margin: 24px auto;
    }
    &__projects {
      width: 100%;
      height: 588px;
    }
    &__project {
      padding: 32px 0;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      box-sizing: border-box;
      & img {
        width: 280px;
        height: 200px;
        object-fit: cover;
        display: none;
      }
      &-content {
        height: 467px;
        width: 90%;
        margin-left: auto;
        & h3 {
          font-size: 24px;
        }
        & p:last-child {
          font-size: 18px;
        }
      }
    }
    &__images {
      width: 90%;
      margin-left: auto;
      position: relative;
      height: 200px;
    }
    &__image-list {
      overflow-x: auto;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 30px;
      & img {
        display: block;
        &:last-child {
          margin-right: 10%;
        }
      }
    }
    &__additional-block {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 10%;
      background: linear-gradient(90deg, rgba(255, 255, 255, .1), white);
      opacity: 50%;
    }
    &__buttons {
      display: none;
    }
  }
}
