<div class="modal">
  <div class="modal__block" #modalBlock>
    <ng-container *ngIf="modal === 'form'">
      <div class="modal__content">
        <h3>{{'contactUs' | translate}}</h3>
        <form class="modal__form" [formGroup]="form" (ngSubmit)="sendForm(form)">
          <div class="modal__fieldset">
            <label for="name">{{'howToNameYou' | translate}}</label>
            <input type="text" id="name" formControlName="name" placeholder="{{'yourName' | translate}}">
          </div>
          <div class="modal__fieldset">
            <label for="phone">{{'yourPhoneNumber' | translate}}</label>
            <input type="text" id="phone" formControlName="phone" placeholder="+380" maxlength="13">
          </div>
          <button class="modal__button-send" type="submit" [disabled]="form.invalid">{{'send' |  translate}}</button>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="modal === 'thanks'">
      <div class="modal__sent">
        <h3>{{'thanks' | translate}}</h3>
        <p>{{'weWillContact' | translate}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="modal === 'projects'">
      <div class="modal__projects d-flex">
        <div class="modal__project d-flex space-between">
          <img [src]="project.imgURL[currentImage]" alt="project pictures">
          <div class="modal__images">
            <div class="modal__image-list">
              <ng-container *ngFor="let image of project.imgURL; let i = index">
                <img *ngIf="project.imgURL[i]" [src]="project.imgURL[i]" alt="project image">
              </ng-container>
            </div>
            <div class="modal__additional-block"></div>
          </div>
          <div class="modal__project-content d-flex space-between">
            <div>
              <h3>{{project.title}}</h3>
              <div class="d-flex modal__project-content-text">
                <p class="modal__project-grey-text">{{'square' | translate}}:</p>
                <p>{{project.square}}</p>
              </div>
              <div class="d-flex modal__project-content-text">
                <p class="modal__project-grey-text">{{'wallMaterial' | translate}}:</p>
                <p>{{getText(project.wallMaterialUA, project.wallMaterialEN)}}</p>
              </div>
              <div class="d-flex modal__project-content-text">
                <p class="modal__project-grey-text">{{'additional' | translate}}:</p>
                <p class="modal__project-info-text">{{getText(project.additionalInfoUA, project.additionalInfoEN)}}</p>
              </div>
              <ng-container *ngIf="project.video">
                <div class="d-flex modal__project-content-text">
                  <p class="modal__project-grey-text">{{'link' | translate}}:</p>
                  <a [href]="project.video">{{'goToVideo' | translate}}</a>
                </div>
              </ng-container>
            </div>
            <div class="modal__buttons">
              <button (click)="prevImage()"
                      [disabled]="!currentImage">
                <span></span>
              </button>
              <button (click)="nextImage()"
                      [disabled]="currentImage === calcCountOfExistsImages()">
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <button class="modal__button-close" (click)="onCloseEmitter.emit()"></button>
  </div>
</div>
