<section *ngIf="homeScreenBackgrounds"
     [ngStyle]="getBackground()"
     class="home-container">
  <div class="_container">
    <app-header (openMenuEmitter)="onMenuOpen()"></app-header>
    <div class="home-container__text _container_small">
      <div class="home-container__text-block">
        <h1 class="home-container__text-title">{{'homeScreenTitle' | translate}}</h1>
        <h2 class="home-container__text-subtitle">{{'homeScreenSubtitle' | translate}}</h2>
        <app-button-contact (click)="modalEmitter.emit('form')" (onModalOpen)="onModalOpen.emit()"></app-button-contact>
      </div>
    </div>
    <div class="home-container__footer">
      <div class="home-container__footer-contacts">
        <a href="">Facebook</a>
        <a href="">Instagram</a>
      </div>
      <div class="home-container__footer-buttons d-flex space-between">
        <button (click)="changeToPrevBackground()" [disabled]="currentBackground === 0">
          <span></span>
        </button>
        <button (click)="changeToNextBackground()" [disabled]="homeScreenBackgrounds.length - 1 === currentBackground">
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="home-container__carousel">
    <ng-container *ngIf="homeScreenBackgrounds">
      <ng-container *ngFor="let screen of homeScreenBackgrounds; let i = index">
        <div class="home-container__carousel-item" (click)="changeBackground(i)">
          <p [ngStyle]="currentBackground === i ? {opacity: '100%'} : {opacity: '50%'}">0{{i + 1}}</p>
          <div [hidden]="currentBackground !== i" class="home-container__carousel-item-line"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="isMenuOpened" class="menu">
    <ul class="menu__navbar">
      <li><a (click)="scrollToServices('servicesSection')">{{ 'navServices' | translate }}</a></li>
      <li><a (click)="scrollToServices('teamSection')">{{'navTeam' | translate}}</a></li>
      <li><a (click)="scrollToServices('processSection')">{{'navProcess' | translate}}</a></li>
      <li><a (click)="scrollToServices('projectsSection')">{{'navProjects' | translate}}</a></li>
      <li><a (click)="scrollToServices('contactsSection')">{{'navContacts' | translate}}</a></li>
    </ul>
    <div class="menu__contacts">
      <a href="https://www.facebook.com/7house.ua/">Facebook</a>
      <a href="https://www.instagram.com/7house.ua/">Instagram</a>
    </div>
  </div>
</section>
