@import "src/assets/variables/colors";
@import "src/assets/styles/mixins";

.home-container {
  height: 100vh;
  color: white;
  background-size: cover !important;
  background-position: center center !important;
  &__text {
    margin-top: 17vh;
    height: 53vh;
    display: flex;
    align-items: center;
    &-title {
      width: 698px;
      font-size: 80px;
      line-height: 96px;
    }
    &-subtitle {
      margin-top: 24px;
      width: 622px;
      font: {
        size: 24px;
        weight: 100;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    align-items: flex-end;
    &-contacts {
      display: flex;
      gap: 40px;
      height: 28px;
      & a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        transition: .3s;
        &:hover {
          color: $gold;
        }
      }
    }
    &-buttons {
      width: 136px;
      & button {
        @include buttonArrow;
        border: 1px solid rgba(256, 256, 256, 0.5);
        transition: .3s;
        &:hover {
          border-color: $gold;
        }
      }
      button:last-child {
        z-index: 2;
        cursor: pointer;
        transition: .3s;
        position: relative;
        &:hover:before, &:hover:after {
          background-color: $gold;
        }
        &:before {
          content: "";
          width: 55px;
          height: 1px;
          background-color: white;
          top: 0;
          left: 0;
          position: absolute;
          z-index: 1;
        }
        &:after {
          content: "";
          width: 1px;
          height: 40px;
          background-color: white;
          top: 0;
          left: 54px;
          position: absolute;
          z-index: 1;
        }
      }
      button span {
        @include arrow;
        background-color: white;
        transition: .3s;
      }
      button:hover span {
        background-color: $gold;
      }
      button:first-child span:before {
        @include arrowLeft;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
      }
      button:last-child span:before {
        @include arrowRight;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
      }
      button:hover span:before {
        border-color: $gold;
      }
      button[disabled], button[disabled]:first-child span:before, button[disabled]:last-child span:before {
        cursor: auto;
        border-color: rgba(256, 256, 256, 0.5);
      }
      button[disabled] span {
        background-color: rgba(256, 256, 256, 0.5);
      }
      button[disabled]:before, button[disabled]:after {
        display: none;
      }
    }
  }
  &__carousel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-item {
      display: flex;
      position: relative;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      & p {
        transition: .3s;
        height: 24px;
        width: 20px;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-right: 16px;
      }
      & p:hover {
        opacity: 1 !important;
      }
      &-line {
        height: 1px;
        width: 80px;
        color: white;
        background-color: white;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .home-container {
    &__text {
      &-title {
        margin-top: 10vh;
        width: 680px;
        font-size: 60px;
        line-height: 90px;
      }
      &-subtitle {
        width: 600px;
        font-size: 20px;
      }
    }
    &__footer {
      margin-top: 50px;
      position: absolute;
      bottom: 32px;
      width: 85%;
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .home-container {
    &__text {
      &-title {
        width: 100%;
        font-size: 54px;
        line-height: 76px;
      }
      &-subtitle {
        width: 480px;
        font-size: 20px;
      }
    }
    &__footer {
      position: absolute;
      bottom: 32px;
      width: 95%;
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .home-container {
    position: relative;
    min-height: 812px;
    height: 100vh;
    &__text {
      margin-top: 206px;
      &-title {
        width: 100%;
        font-size: 32px;
        line-height: 48px;
      }
      &-subtitle {
        width: 100%;
        font-size: 16px;
        margin-top: 16px;
        line-height: 24px;
      }
    }
    &__footer {
      width: auto;
      position: absolute;
      right: 32px;
      bottom: 32px;
      &-contacts {
        display: none;
      }
      &-buttons {
        flex-direction: column;
        gap: 24px;
        width: auto;
      }
    }
    &__carousel {
      position: absolute;
      left: 32px;
      top: auto;
      right: auto;
      bottom: 32px;
      height: 28px;
      display: flex;
      flex-direction: row;
      justify-content: normal;
      &-item {
        &-line {
          display: none;
        }
      }
      &-item:not(:last-child) {
        margin-bottom: 0;
      }
    }
    .menu {
      height: 100vh;
      background-color: black;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 15;
      &__navbar {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        line-height: 48px;
        color: white;
        margin-left: 32px;
        margin-top: 184px;
        list-style: none;
        font: {
          weight: bold;
          size: 32px;
        }
      }
      &__contacts {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        row-gap: 16px;
        & a {
          color: white;
          text-decoration: none;
          line-height: 28px;
          font-size: 18px;
        }
      }
    }
  }
}
