@import "src/assets/variables/colors";

.select-lang {
  position: relative;
  cursor: pointer;
  width: 80px;
  &__block {
    transition: .3s;
    display: flex;
    align-items: center;
    &:hover {
      color: $gold;
    }
  }
  &__block:hover .select-lang__arrow {
    border-color: $gold;
  }
  &__current-lang {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 24px;
  }
  &__arrow {
    width: 7px;
    height: 7px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(225deg);
    transition: .3s;
    margin-bottom: 5px;
  }
  &__another-lang {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: .3s;
    height: 28px;
    &:hover {
      color: $gold;
    }
  }
}
