<header>
  <nav class="header">
    <img src="assets/images/logo.png" alt="logo" class="header__logo">
    <app-navigation></app-navigation>
    <div class="header__tools">
      <div class="header__tools-block">
        <app-select-language section="header"></app-select-language>
      </div>
      <a class="header__tools-phone" href="tel:+380950059025">+38 (095) 005 90 25</a>
    </div>
    <button (click)="toggleIsMenuActive()" class="header__burger-button"><span [class.active]="isMenuActive"></span></button>
  </nav>
</header>
