@import "src/assets/variables/colors";

.header {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 18% 44% 38%;
  scroll-behavior: smooth;
  &__logo {
    width: 120px;
    height: 24px;
  }
  &__tools {
    display: flex;
    justify-content: flex-end;
    &-block {
      padding-right: 40px;
      display: flex;
      align-items: center;
    }
    &-phone {
      display: flex;
      align-items: center;
      font-size: 18px;
      border-bottom: 1px solid white;
      transition: .3s;
      cursor: pointer;
      &:hover {
        color: $gold;
        border-color: $gold;
      }
    }
  }
}
