@import "src/assets/variables/colors";

.benefits {
  background-color: $darkgrey;
  min-height: 824px;
  &__header {
    height: 136px;
    padding-top: 96px;
    color: white;
    display: flex;
    justify-content: space-between;
    &-title {
      margin-top: 8px;
      border-left: 4px solid $gold;
      width: 480px;
      height: 72px;
      box-sizing: border-box;
      &-text {
        padding-left: 8px;
        font: {
          size: 56px;
          weight: bold;
        }
        width: 468px;
        height: 64px;
      }
    }
    &-content {
      width: 480px;
      &-subtitle {
        line-height: 32px;
        font: {
          size: 24px;
          weight: 600;
        }
      }
      &-description {
        margin-top: 16px;
        font-size: 18px;
        line-height: 28px;
        opacity: 80%;
      }
    }
  }
  &__list {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 48px;
    padding-bottom: 48px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .benefits {
    &__header {
      height: 200px;
      display: grid;
      grid-template-columns: 376px 376px;
      &-title {
        width: 100%;
        height: 156px;
        &-text {
          width: 100%;
        }
      }
      &-content {
        width: 100%;
      }
    }
    &__list {
      grid-template-columns: repeat(2, 320px);
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .benefits {
    &__header {
      height: 250px;
      display: flex;
      row-gap: 48px;
      flex-direction: column;
      margin-bottom: 48px;
      &-title {
        width: 100%;
        &-text {
          width: 100%;
        }
      }
      &-content {
        width: 100%;
      }
    }
    &__list {
      grid-template-columns: repeat(2, 280px);
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .benefits {
    min-height: 628px;
    & ._container_small {
      max-width: inherit;
    }
    &__header {
      height: 250px;
      display: flex;
      row-gap: 48px;
      width: 90%;
      flex-direction: column;
      margin: 0 auto;
      &-title {
        width: 100%;
        &-text {
          width: 100%;
          font-size: 32px;
          height: auto;
        }
      }
      &-content {
        width: 100%;
      }
    }
    &__list {
      display: flex;
      overflow-x: scroll;
      justify-content: space-between;
      width: 95%;
      gap: 24px;
      margin-left: auto;
      padding: 0;
      pointer-events: auto;
    }
  }
}
