@import "src/assets/variables/colors";

.navbar {
  display: flex;
  list-style-type: none;
  gap: 40px;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  & li {
    transition: .3s;
    cursor: pointer;
    position: relative;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .navbar {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .navbar {
    gap: 25px;
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
