@import "src/assets/variables/colors";

@mixin buttonArrow {
  height: 56px;
  width: 56px;
  background: none;
  cursor: pointer;
  transition: .3s;
}

@mixin arrow {
  width: 16px;
  height: 2px;
  display: block;
  margin: 0 auto;
  position: relative;
}

@mixin arrowLeft {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: -5px;
  transform: rotate(45deg);
  transition: .3s;
}

@mixin arrowRight {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 4px;
  transform: rotate(315deg);
  transition: .3s;
}

@mixin buttons {
  position: relative;
  display: flex;
  align-items: flex-end;;
  & button {
    @include buttonArrow;
    border: 1px solid $gold;
    &:hover {
      background-color: $gold;
    }
    &:hover span {
      background-color: white;
    }
    &:hover span:before {
      border-color: white !important;
    }
  }
  & button[disabled]:first-child {
    background: none;
    cursor: auto;
    & span {
      background-color: $semiGold;
      &:before {
        border-bottom: 2px solid $semiGold !important;
        border-left: 2px solid $semiGold !important;
      }
    }
    border-color: $semiGold;
  }
  & button[disabled]:last-child {
    background: none;
    cursor: auto;
    & span {
      background-color: $semiGold;
      &:before {
        border-bottom: 2px solid $semiGold;
        border-right: 2px solid $semiGold;
      }
    }
    border-color: $semiGold;
  }
  & button:first-of-type {
    margin-right: 24px;
  }
  & span {
    @include arrow;
    background-color: $gold;
    transition: .3s;
  }
  button:first-child span:before {
    @include arrowLeft;
    border-bottom: 2px solid $gold;
    border-left: 2px solid $gold;
  }
  button:last-child span:before {
    @include arrowRight;
    border-bottom: 2px solid $gold;
    border-right: 2px solid $gold;
  }
}

@mixin carousel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    & p {
      transition: .3s;
      height: 24px;
      width: 20px;
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    & p:hover {
      opacity: 1 !important;
    }
    &-line {
      height: 1px;
      width: 80px;
      color: white;
      background-color: white;
    }
  }
}
